<header class="header">
    <div class="navbar-container">
        <ul class="navbar">
            <a href="/" class="logo">iMoney</a>
            <ul class="destinations">
                <li>
                    <a class="destination-item" <% if (paginaAtiva==='operacao' ) { %> class="active" <% } %> href="/operacao/">
                            Operações
                    </a>
                </li>
                <li>
                    <a class="destination-item" href="#sobre">
                        Sobre
                    </a>
                </li>
                <% if (locals.usuario) { %>
                    <li class="nav-item dropdown">
                        <a class="destination-item" href="#">
                            <%= usuario.username %>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    Perfil
                                </a>
                            </li>
                            <li>
                                <a href="/user/logout">
                                    Sair (logout)
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } else { %>
                    <li>
                        <a class="destination-item" href="#">
                            Visitante
                        </a>
                        <ul>
                            <li>
                                <a href="/user/login">
                                    Entrar
                                </a>
                            </li>
                            <li>
                                <a href="/user/signup">
                                    Criar Conta
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </ul>
    </div>
</header>