<header class="header">
    <div class="navbar-container">
        <ul class="navbar">
            <a href="/" class="logo">iMoney</a>
            <ul class="destinations">
                <li>
                    <a class="destination-item" href="/operacao/">Operações</a>
                </li>
                <li>
                    <a class="destination-item" href="#sobre">Sobre</a>
                </li>
                <div class="dropdown" id="user-dropdown">
                    <button class="button" id="dropdown-button">
                        <% if (locals.usuario) { %>
                            <%= usuario.username  %>
                        <% } else { %>
                            Faça seu login!
                        <% } %>
                    </button>
                    <% if (locals.usuario) { %>
                        <div class="dropdown-content" id="user-dropdown-content">
                            <p><%= usuario.username %></p>
                            <a href="#">Meu perfil</a>
                            <a href="/operacao/">Minhas operações</a>
                            <a href="/user/logout">Sair</a>
                        </div>
                    <% } else { %>
                        <div class="dropdown-content" id="user-dropdown-content">
                            <a href="/user/login">Entrar</a>
                            <a href="/user/signup">Criar uma conta</a>
                        </div>
                    <% } %>
                </div>
            </ul>
        </ul>
    </div>
</header>