.home-card > h1 {
    color: var(--text);
    font-size: 4rem;
}

.home-card > .card-content > p {
    color: var(--text);
}

.home-card {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--card);

    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 3fr 1fr;
}

.home-card > .button {
    justify-self: end;
}

@media screen and (max-width: 850px) {
    .home-card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    .home-card > .button {
        justify-self: center;
    }

    .home-card > .form-button {
        align-self: center;
    }
}

.card-content {
    grid-column: 1 / 2;
}