.header {
    color: var(--text);
}

.logo {
    font-size: 1.8rem
}

.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination-item {
    display: block;
    background-color: var(--button);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: .9rem;
    transition: .2s;
}

.destination-item:hover {
    background-color: var(--hover);
}

.navbar .destinations, .navbar .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

