<main class="main">
    <div class="home-card">
        <h1>iMoney</h1>
        <div class="card-content">
            <p>Sua solução completa para todas as suas necessidades financeiras.</p>
            <p>Registre suas operações e acompanhe seus investimentos.</p>
        </div>
        <% if (locals.usuario) { %>
            <a class="button" href="/operacao/">Minhas operações</a>
        <% } else { %>
            <a class="button" href="/user/login">Começar!</a>
        <% } %>
    </div>
</main>