<main class="main">
    <div class="home-card">
        <h1>iMoney</h1>
        <div class="card-content">
            <p>Sua solução completa para todas as suas necessidades financeiras.</p>
            <p>Registre suas operações e acompanhe seus investimentos.</p>
        </div>
        <a class="form-button" href="/user/login">Login</a>
    </div>
</main>